<div class="container1">

    <div class="container">
      <p style="font-weight: bold;
        font-size: x-large;
        color: #4f64d8;">PROJECT+ FLOW</p>
  
      <img src="assets/images/SiteAdminFlow.PNG" class="SiteAdminFlow" alt="SiteAdminFlow">
    </div>
  
    <!-- <div class="container">
  
      <img src="assets/images/UserRoleFlow.svg" class="UserRoleFlow" alt="UserRoleFlow">
    </div> -->
  
    <div class="firstDiv">
   
      <h1 class="prjRoles">ProjectPlus Roles & Accessibility</h1>
  
    </div> <br>
  
  
    <div class="container firstDivSiteAdmin">
      <div class="field1">
        <label class="in1">SiteAdmin</label>
  
      </div>
      <div class="field2 pointer" data-toggle="tooltip" data-placement="Clients" title="Clients Account Creation!">
        <p class="in2">Clients</p>
      </div>
      <div class="field3 pointer" data-toggle="tooltip" data-placement="Regions" title="Regions Management!">
        <p class="in3">Regions</p>
      </div>
      <div class="field4 pointer" data-toggle="tooltip" data-placement="Divisions" title="Divisions Management!">
        <p class="in4">Divisions</p>
      </div>
      <div class="field5 pointer" data-toggle="tooltip" data-placement="Staffs" title="Staffs Management!">
        <p class="in5">Staffs</p>
      </div>
      <div class="field6 pointer" data-toggle="tooltip" data-placement="OrgDesignations" title="Adds OrgDesignations!">
        <p class="in6">OrgDesignations</p>
      </div>
      <div class="field7 pointer" data-toggle="tooltip" data-placement="BusinessUnits" title="Adds BusinessUnits!">
        <p class="in7">BusinessUnits</p>
      </div>
  
      <div class="field9 pointer" data-toggle="tooltip" data-placement="AllocatedStaff" title="Can Allocate Staff!">
        <p class="in9">AllocatedStaff</p>
      </div>
      <div class="field10 pointer" data-toggle="tooltip" data-placement="StaffLeaves" title="Apply Leave!">
        <p class="in10">StaffLeaves</p>
      </div>
  
      <div class="field11 pointer" data-toggle="tooltip" data-placement="Clients" title="Staff with the timelines!">
        <p class="in11">StaffAvailability</p>
      </div>
      <div class="field12 pointer" data-toggle="tooltip" data-placement="Clients"
        title="Showing historical data as inputs!">
        <p class="in12">StaffForecast</p>
      </div>
    </div> <br>
  
    <div class="container firstDivSiteAdmin">
      <div class="field13 pointer">
        <label class="in1">ClientAdmin</label>
  
      </div>
      <div class="field14 pointer" data-toggle="tooltip" data-placement="ClientEmployee"
        title="ClientEmployee Management!">
        <p class="in2">ClientEmployee</p>
      </div>
      <div class="field15 pointer" data-toggle="tooltip" data-placement="Assignments" title="Adds Assignments!">
        <p class="in3">Assignments</p>
      </div>
      <div class="field8 pointer" data-toggle="tooltip" data-placement="Projects" title="Manages Projects!">
        <p class="in8">Projects</p>
      </div>
  
      <div class="field17 pointer" data-toggle="tooltip" data-placement="ProjectMeetings" title="Adds ProjectMeetings!">
        <p class="in3">ProjectMeetings</p>
      </div>
      <div class="field18 pointer" data-toggle="tooltip" data-placement="SearchStaff"
        title="Can SearchStaff & block them!">
        <p class="in3">SearchStaff</p>
      </div>
      <div class="field19 pointer" data-toggle="tooltip" data-placement="TimeSheet" title="Manage TimeSheet page!">
        <p class="in3">TimeSheet</p>
      </div>
      <div class="field20 pointer" data-toggle="tooltip" data-placement="TaskBoard"
        title="Adds multiple tasks on taskboard!">
        <p class="in3">TaskBoard</p>
      </div>
      <div class="field21 pointer" data-toggle="tooltip" data-placement="StaffFeedback" title="Adds StaffFeedback!">
        <p class="in3">StaffFeedback</p>
      </div>
  
    </div>
  
  
    <div class="container firstDivSiteAdmin">
      <div class="field22 pointer">
        <label class="clientEmp">ClientEmployees</label>
  
      </div>
  
      <div class="field23 pointer" data-toggle="tooltip" data-placement="Projects" title="Manages Projects!">
        <p class="in2">Projects</p>
      </div>
      <div class="field24 pointer" data-toggle="tooltip" data-placement="StaffFeedbacks" title="Adds StaffFeedback!">
        <p class="in3">StaffFeedbacks</p>
      </div>
      <div class="field25 pointer" data-toggle="tooltip" data-placement="SearchStaff"
        title="Can SearchStaff & block them!">
        <p class="in3">SearchStaff</p>
      </div>
  
    </div>
    <br>
  
    <div class="container firstDivSiteAdmin">
      <div class="field26 pointer">
        <label class="regionManager">RegionManager</label>
  
      </div>
  
      <div class="field27 pointer" data-toggle="tooltip" data-placement="StaffFeedbacks" title="Adds StaffFeedback!!">
        <p class="in2">StaffFeedbacks</p>
      </div>
      <div class="field28 pointer" data-toggle="tooltip" data-placement="ProjectStaff"
        title="Map project to staff create contract!">
        <p class="in3">ProjectStaff</p>
      </div>
      <div class="field48 pointer" data-toggle="tooltip" data-placement="BlockedStaff" title="View then create contract!">
        <p class="in3">BlockedStaff</p>
      </div>
      <div class="field29 pointer" data-toggle="tooltip" data-placement="StaffAvailability"
        title="Staff with the timelines!">
        <p class="in3">StaffAvailability</p>
      </div>
      <div class="field30 pointer" data-toggle="tooltip" data-placement="StaffForecast"
        title="Showing historical data as inputs!">
        <p class="in3">StaffForecast</p>
      </div>
  
    </div>
  
    <div class="container firstDivSiteAdmin">
      <div class="field31 pointer">
        <label class="divManager">DivManager</label>
  
      </div>
  
      <div class="field32 pointer" data-toggle="tooltip" data-placement="BlockedStaff" title="View then create contract!">
        <p class="in2">BlockedStaff</p>
      </div>
      <div class="field33 pointer" data-toggle="tooltip" data-placement="ProjectStaff"
        title="Map project to staff create contract!">
        <p class="in3">ProjectStaff</p>
      </div>
      <div class="field34 pointer" data-toggle="tooltip" data-placement="StaffLeave" title="Apply Leave!">
        <p class="in3">StaffLeave</p>
      </div>
      <div class="field35 pointer" data-toggle="tooltip" data-placement="StaffFeedbacks" title="Adds StaffFeedback!!">
        <p class="in3">StaffFeedbacks</p>
      </div>
      <div class="field36 pointer" data-toggle="tooltip" data-placement="StaffAvailability"
        title="Staff with the timelines!">
        <p class="in3">StaffAvailability</p>
      </div>
      <div class="field37 pointer" data-toggle="tooltip" data-placement="StaffForecast"
        title="Showing historical data as inputs!">
        <p class="in3">StaffForecast</p>
      </div>
  
    </div>
  
    <div class="container firstDivSiteAdmin">
      <div class="field38 pointer">
        <label class="staff">Staff</label>
  
      </div>
  
      <div class="field39 pointer" data-toggle="tooltip" data-placement="StaffLeaves" title="Apply Leave!">
        <p class="in2">StaffLeaves</p>
      </div>
      <div class="field40 pointer" data-toggle="tooltip" data-placement="Assignments" title="Adds Assignments!">
        <p class="in3">Assignments</p>
      </div>
      <div class="field41 pointer" data-toggle="tooltip" data-placement="ProjectMeetings" title="Adds ProjectMeetings!">
        <p class="in3">ProjectMeetings</p>
      </div>
  
    </div>
  
    <div class="firstDiv">
      <hr>
      <h1 class="prjRoles">Service Provider Ecosystem with Client proxy</h1>
      <hr>
    </div> <br>
    <table class="tblClass">
      <div class="container tableDiv">
        <!-- <h1 class="level-1 rectangle">Service Provider Ecosystem with Client proxy</h1> -->
        <hr>
        <ol class="level-2-wrapper">
          <li>
            <h2 class="level-2 rectangle">Clients Ecosystem</h2>
            <hr>
            <span class="arrow" style='font-size:50px;'>&#8595;</span>
            <ol class="level-3-wrapper">
              <li>
                <h3 class="level-9 rectangle" data-toggle="tooltip" data-placement="Clients"
                  title="Client Admin or designated person are key stakeholders for service holder.It can be client or Account Manager(ServiceProvider).Creates Projects and roles required.!">
                  <img src="assets/images/dummyclientAdmin.png" alt="Lamp" width="32" height="32">ClientAdmin</h3>
                <span class="arrow" style='font-size:50px;'>&#8595;</span>
  
                <ol class="level-4-wrapper">
                  <li>
                    <h3 class="level-11 rectangle" data-toggle="tooltip" data-placement="ClientEmployee"
                      title="Can be project manager or Authorised person client .Can perform all the roles of the client!">
                      <img src="assets/images/dummyClientEmployee.png" alt="ClientEmployee" width="32"
                        height="32">ClientEmployee</h3>
                  </li>
  
                </ol>
              </li>
  
            </ol>
          </li>
          <li>
            <h2 class="level-5 rectangle">Service Provider Ecosystem</h2>
            <hr>
            <span class="arrow" style='font-size:50px;'>&#8595;</span>
  
            <ol class="level-3-wrapper">
              <li>
                <!-- <h3 class="level-10 rectangle" data-toggle="tooltip" data-placement="Admin" title="Provider's Ecosystem!">
                  <img src="assets/images/dummyAdmin.png" alt="Lamp" width="32" height="32">Admin</h3>
                <span class="arrow" style='font-size:50px;'>&#8595;</span> -->
  
                <ol class="level-4-wrapper">
                  <li>
                    <h3 class="level-13 rectangle" data-toggle="tooltip" data-placement="SiteAdmin"
                      title="ServiceProvider admin creates Master data Capacity to change the roles creates clients"><img
                        src="assets/images/dummysiteadmin.png" alt="SiteAdmin" width="32" height="32">SiteAdmin</h3>
                  </li>
                  <span class="arrow" style='font-size:50px;'>&#8595;</span>
  
                  <li>
                    <h3 class="level-12 rectangle" data-toggle="tooltip" data-placement="RegionManager"
                      title="Creates Regions"><img src="assets/images/dummyRegionManager.png" alt="RegionManager"
                        width="32" height="32">RegionManager</h3>
                  </li>
                  <span class="arrow" style='font-size:50px;'>&#8595;</span>
  
                  <li>
                    <h3 class="level-14 rectangle" data-toggle="tooltip" data-placement="DivManager"
                      title="Responsible for operation of a division .Division can be location business service!"><img
                        src="assets/images/dummyDivManager.png" alt="DivManager" width="32" height="32">DivManager</h3>
                  </li>
                  <span class="arrow" style='font-size:50px;'>&#8595;</span>
  
                  <li>
                    <h3 class="level-15 rectangle" data-toggle="tooltip" data-placement="Staff"
                      title="Create for division Staff assigned to projects !"><img src="assets/images/dummyStaff.png"
                        alt="Staff" width="32" height="32">Staff</h3>
                  </li>
  
                </ol>
              </li>
  
  
            </ol>
          </li>
        </ol>
      </div>
  
    </table>
    <br>
    <!-- <img src="assets/images/ClientEcosystem1.png" class="ClientEcosystem" alt="ClientEcosystem"> -->
    <!-- <table class="tblClassDotted">
        <div class="container tableDiv">
            <h1 class="level-1 rectangle">Service Provider's Ecosystem</h1> <hr>
           
          </div>
         
          <div class="container">
            
            <div class="row">
              <div class="col-xs-12">
            <p class="lead text-center bg-info btn text-info center-block">Different role and his Accessibility</p>
                <div class="row">
                  <div class="col-xs-6 text-center">
                     <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                  </div>
                  <div class="col-xs-6 text-center">
                    <p class="btn">
                    <span class="glyphicon glyphicon-arrow-down"></span></p>
                  </div>
                </div>
          
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 text-center">
            <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
                <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                
                <p class="bg-success text-success btn">Okay! Proceed to step 2.</p>
              </div>
              <div class="col-xs-6 text-center">
                <p class="center-block"><span class="btn btn-danger btn-lg" data-toggle="tooltip" data-placement="SiteAdmin" title="SiteAdmin has to access these features"><img src="assets/images/dummysiteadmin.png" alt="SiteAdmin" width="32" height="32">SiteAdmin</span></p>
                 <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
               <div class="sys">1.Client <br>2.Regions <br>3.Divisions <br> 4.Staffs <br>5.OrgDesignations <br>6.BusinessUnits <br>7.AllocatedStaff <br>8.StaffLeaves <br>9.StaffAvailability <br>10.StaffForecast <br>
                 </div>
                <div class="row">
                  <div class="col-xs-6 text-center">
                     <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                  </div>
                  <div class="col-xs-6 text-center">
                    <p class="btn">
                    <span class="glyphicon glyphicon-arrow-down"></span></p>
                  </div>
                </div>
                <div class="row">
              <div class="col-xs-6">
              <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
                    <p class="btn">
                      
                      <span>&#8628;</span></p>
                <p class="bg-success text-success btn text-wrap">Okay! After the data is in the system, proceed to step 2.</p>
                
              </div>
              <div class="col-xs-6 text-center">
                       <p class="center-block"><span class="btn btn-danger btn-lg">No</span></p>
                 <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                <p class="btn bg-danger text-danger text-wrap">The data must be in the system to use this service.</p>
              </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="page-header">Step 2: What type of email is it?</h2>
            <div class="row">
              <div class="col-xs-12">
            <p class="lead text-center bg-info btn text-info center-block">What type of email do you want to send?</p>
                <div class="row">
                  <div class="col-xs-6 text-center">
                     <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                  </div>
                  <div class="col-xs-6 text-center">
                    <p class="btn">
                    <span class="glyphicon glyphicon-arrow-down"></span></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 text-center">
                        <p class="center-block"><span class="btn btn-warning btn-lg">Newsletter</span></p>
                    <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                      <p class="center-block bg-info text-info btn">Is it directly related to fundraising?</p>
                <div class="row">
                  <div class="col-xs-6 text-center">
                     <p class="btn"><span class="glyphicon glyphicon-arrow-down"></span>
                  </div>
                  <div class="col-xs-6 text-center">
                    <p class="btn">
                    <span class="glyphicon glyphicon-arrow-down"></span></p>
                  </div>
                </div>
                <div class="row">
              <div class="col-xs-6">
              <p class="center-block"><span class="btn btn-success btn-lg">Yes</span></p>
                    <p class="btn">
                    <span class="glyphicon glyphicon-arrow-down"></span></p>
                <p class="bg-success text-success btn text-wrap">Okay! You can proceed to step 3. </p>
                
              </div>
              <div class="col-xs-6 text-center">
                       <p class="center-block"><span class="btn btn-danger btn-lg">No</span></p>
                 <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                <p class="btn bg-danger text-danger text-wrap">Content must be directly related to fundraising to use this service.</p>
              </div>
                </div>
                  </div>
                  <div class="col-xs-6 text-center">
                        <p class="center-block"><span class="btn btn-success btn-lg">Solicitation</span></p>
                     <p class="btn center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                
                <p class="bg-success text-success btn">Okay! Proceed to step 3.</p>
              </div>
                  </div>
                    
              </div>
            </div>
          </div>
          
        </table> -->
  
  
    <div class="container">
  
      <img src="assets/images/serviceProviderEco.png" class="ServiceProviderFlow" alt="ServiceProviderFlow">
    </div>
  </div>