
<div *ngIf="(isFormMsg == true)" class="alert alert-warning alert-dismissible fade in calibrationMsg" style="padding-top: 0px!important;padding-bottom: 0px !important;margin-top: -12px!important;
margin-bottom: 11px!important;font-size: 12px!important;">

  <strong><i class="fa fa-star checked" aria-hidden="true"></i></strong> {{formMsg}}
</div>
<div class="modal-content" style="margin-top: -15px;">
  <form [formGroup]="form" #validationForm="ngForm" (submit)="submitForm()">
    <div class="modal-header">
      <h4 class="modal-title" style="color: #337ab7;">{{title}}</h4>
      <div class="btn-group headerbtn">
        <!-- <button type="submit" class="btn btn-primary" (click)="reload()">
          Reload
        </button> -->
        <!-- <button type="submit" class="btn btn-primary" (click)="backData()">
          Back
        </button>
        <button id="btnSave" class="btn btn-primary" (click)="submitData()">
          Submit
        </button> -->
        <!-- TODO: this value will be the saved value -->
        <input type="hidden" #hiddenId id="hiddenId" value="{{populateIdFieldValue()}}" />
      </div>
    </div>

    <div id="scroll" class="modal-body">
      <!-- ****************** Looping the Sections *************************-->
      <ng-template ngFor let-input [ngForOf]="formData.Sections">
        <!-- //Check for normal/Table/Header type of Sections -->
        <div class="well section col-sm-12" data-toggle="collapse" [attr.data-target]="'#'+input.Id">
          {{input.SectionName}}
        </div>

        <div [id]="input.Id">
          <!-- Handling sub section -->
          <div *ngFor="let subsection of input.SubSections">
            <!-- {{subsection.SectionName}} -->
            <div *ngIf="(subsection.SectionTypeName == 'normal')">
              <div *ngFor="let sectionAttribute of subsection.SectionAttributes">
                <ng-container [ngSwitch]="sectionAttribute.ControlType">
                  <ng-template [ngSwitchCase]="'tblbutton'">
                    <div class="col-sm-12">
                      <button [id]="sectionAttribute.ControlName" title="Add" class="btn btn-primary divbtn"><i
                          id="hover" [class]="sectionAttribute.CssClassName" aria-hidden="true"></i></button>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
            <br>
            <br>
            <br>
            <div *ngIf="(subsection.SectionTypeName !=null && subsection.SectionTypeName == 'div')" [id]=subsection.CssClassName
              style="display: none;">

              <div class="tblScroll">
                <div cdkDropListGroup id="taskBoard">
                  <div>
                    <ng-container *ngFor="let item of utilityService.assignmentStatusHeader">
                      <!-- {{utilityService.assignmentStatusHeader|json}} -->
                      <div class="example-container" style="margin-top: -50px;">
                        <h3>{{item.Value}}</h3>
                        <input type="hidden" class="clsStatusId" [value]="item.Key">

                       
                        <div  cdkDropList
                          [cdkDropListData]="getTaskBoardResponseData(item.Key,utilityService.taskBoardResponseData)"
                          class="example-list" (cdkDropListDropped)="drop($event)">

                          <ng-container
                            *ngFor="let data of getTaskBoardResponseData(item.Key,utilityService.taskBoardResponseData)">

                            <button title="Edit" class="btn btn-primary btn-radius"
                              (click)="navigateTaskBoardAddEdit(data.Id)"><i class="fa fa-edit"
                                aria-hidden="true"></i></button>
                            <div class="example-box container-fluid" cdkDrag>
                      
                                <div style="margin-left: -100px;font-size: 12px;">TotalTaskAssignmentHours :{{data.TotalTaskAssignmentHours}}
                                </div>
                                <div style="margin-left: -65px;font-size: 12px;">LastUpdatedWorkUpdate :{{data.LastUpdatedWorkUpdate}}
                                </div>
                         

                              <!-------------------------Accordion code With plus and minus For ProjectAssignments -------------------------- -->
                                <table style="width: 300px;">
                                  <caption style="font-size: 12px;">Project Assignments</caption>
                                  <thead (click)="onToggle($event)">
                                    <tr>
                                      <th style="font-size: 12px;">TaskTitle</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let projectAssignmentData of data.ProjectAssignments">
                                      <td style="font-size: 12px;">{{projectAssignmentData.TaskTitle}}</td>
                                    </tr>
                                  </tbody>
                                </table>

                                <table style="width: 300px;">
                                  <caption style="font-size: 12px;">Task Assignment Hours</caption>
                                  <thead (click)="onToggle($event)">
                                    <tr>
                                      <th style="font-size: 12px;">Date</th>
                                      <th style="font-size: 12px;">Hours</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let taskAssignmentHour of data.TaskAssignmentHours">
                                      <td style="font-size: 12px;">{{taskAssignmentHour.Date}}</td>
                                      <td style="font-size: 12px;">{{taskAssignmentHour.Hours}}</td>
                                    </tr>
                                  </tbody>
                                </table>

                                <table style="width: 300px;">
                                  <caption style="font-size: 12px;">Task Assignment WorkUpdate</caption>
                                  <thead (click)="onToggle($event)">
                                    <tr>
                                      <th style="font-size: 12px;">Date</th>
                                      <th style="font-size: 12px;">WorkUpdates</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let taskAssignmentWorkUpdate of data.TaskAssignmentWorkUpdates">
                                      <td style="font-size: 12px;">{{taskAssignmentWorkUpdate.Date}}</td>
                                      <td style="font-size: 12px;">{{taskAssignmentWorkUpdate.WorkUpdates}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                          
                            </div>
                          </ng-container>
                        </div>


                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- HANDLING SECTION ATTRIBUTES -->
          <div *ngFor="let input1 of input.SectionAttributes">
            <ng-container [ngSwitch]="input1.ControlType">

              <!-- ******************************** HIDDEN *********************************** -->
              <ng-template [ngSwitchCase]="'hidden'">
                <input [formControlName]="input1.ControlName" [type]="input1.ValueType" [class]="input1.CssClassName"
                  [id]="input1.ControlName" (input)='data =$event.target["value"]'
                  [value]="populateFieldValue(input1.ModelPropName, input1,  input.ModelObjectName)" required />
              </ng-template>

              <!-- ******************************** Slider *********************************** -->
              <ng-template [ngSwitchCase]="'range'">
                <div class="col-sm-2">
                  <label> {{getProperLabelName(input1.LabelName)}}</label>
                </div>
                <div class="col-sm-1 ">
                  <div [id]="input1.CssClassName">
                    {{input1.RatingValue}}
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="col-sm-6">
                    <input [type]="input1.ValueType" min="1" max="5" class="slider form-control "
                      [id]="input1.ControlName" (input)='data =$event.target["value"]' required />
                  </div>
                </div>
              </ng-template>
              <!-- ******************************** TEXT *********************************** -->
              <ng-template [ngSwitchCase]="'text'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>
                    <i *ngIf="(input1.HelpText != null )" class="fa fa-info-circle"
                      style="margin-left: 5px;margin-right: 5px;text-align: left;" [tooltip]="input1.HelpText"></i>
                    <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                      [id]="input1.ControlName" [pattern]="input2.Pattern" [minlength]="input2.Minlength"
                      [maxlength]="input2.Maxlength" (input)='data =$event.target["value"]'
                      [ngModel]="populateFieldValue(input1.ModelPropName, input1,  input.ModelObjectName)" required />
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                      <div *ngIf="form.get(input1.ControlName).errors.required">
                        <div *ngIf="(input2.Required == true)">
                          * {{getProperLabelName(input1.LabelName)}} is required.
                        </div>
                      </div>
                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                      <div id="validationMsg"></div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <!-- ******************************** TextArea *********************************** -->
              <ng-template [ngSwitchCase]="'textarea'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>
                    <i *ngIf="(input1.HelpText != null )" class="fa fa-info-circle"
                      style="margin-left: 5px;margin-right: 5px;text-align: left;" [tooltip]="input1.HelpText"></i>
                    <textarea [formControlName]="input1.ControlName" class="form-control" [id]="input1.ControlName"
                      [pattern]="input2.Pattern" [minlength]="input2.Minlength" [maxlength]="input2.Maxlength"
                      (input)='data =$event.target["value"]'
                      [ngModel]="populateFieldValue(input1.ModelPropName, input1,  input.ModelObjectName)"
                      required></textarea>
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                      <div *ngIf="form.get(input1.ControlName).errors.required">
                        <div *ngIf="(input2.Required == true)">
                          * {{getProperLabelName(input1.LabelName)}} is required.
                        </div>
                      </div>
                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                      <div id="validationMsg"></div>
                    </div>
                  </div>
                </div>

              </ng-template>

              <!-- ******************************** ICONBUTTON *********************************** -->
              <ng-template [ngSwitchCase]="'iconButton'">
                <div class="col-sm-1">
                  <i [class]="input1.CssClassName" style="font-size:24px"></i>
                </div>
              </ng-template>
              <!-- ******************************** BUTTON *********************************** -->
              <ng-template [ngSwitchCase]="'button'">
                <div class="col-sm-1">
                  <!-- <div class="form-group" *ngIf="(input1.isEditable == true)"> -->

                  <button [type]="input1.ValueType" [name]="input1.ControlName" [id]="input1.ControlName"
                    [class]="input1.CssClassName">{{getProperLabelName(input1.LabelName)}}</button>
                  <!-- <input type="button" [name]="input1.ControlName"  [id]="input1.ControlName" [value]="getProperLabelName(input1.LabelName)"/> -->
                </div>
              </ng-template>

              <!-- ******************************** NUMBER *********************************** -->
              <ng-template [ngSwitchCase]="'number'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>
                    <i *ngIf="(input1.HelpText != null )" class="fa fa-info-circle"
                      style="margin-left: 5px;margin-right: 5px;text-align: left;" [tooltip]="input1.HelpText"></i>
                    <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                      [id]="input1.ControlName" [required]="input2.Required" [pattern]="input2.Pattern"
                      [min]="input2.Minlength" [max]="input2.Maxlength"
                      [ngModel]="populateFieldValue(input1.ModelPropName,input1,  input.ModelObjectName)" required />
                    <!-- [ngModel]="populateFieldValue(input1.ModelPropName)"  [minlength]="input2.Minlength" [maxlength]="input2.Maxlength" -->
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                      <div *ngIf="(input2.Required == true)">
                        <div *ngIf="form.get(input1.ControlName).errors.required">
                          *{{getProperLabelName(input1.LabelName)}} is required.
                        </div>
                      </div>

                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                    </div>


                  </div>
                </div>
              </ng-template>

              <!-- ******************************** EMAIL *********************************** -->
              <ng-template [ngSwitchCase]="'email'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>
                    <i *ngIf="(input1.HelpText != null )" class="fa fa-info-circle"
                      style="margin-left: 5px;margin-right: 5px;text-align: left;" [tooltip]="input1.HelpText"></i>
                    <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                      [id]="input1.ControlName" [required]="input2.Required" [pattern]="input2.Pattern"
                      [min]="input2.Minlength" [max]="input2.Maxlength"
                      [ngModel]="populateFieldValue(input1.ModelPropName,input1,  input.ModelObjectName)" required />
                    <!-- [ngModel]="populateFieldValue(input1.ModelPropName)"  [minlength]="input2.Minlength" [maxlength]="input2.Maxlength" -->
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                      <div *ngIf="form.get(input1.ControlName).errors.required">
                        <div *ngIf="(input2.Required == true)">
                          *{{getProperLabelName(input1.LabelName)}} is required.
                        </div>
                      </div>

                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>


              <!-- ******************************** SELECT *********************************** -->
              <ng-template [ngSwitchCase]="'select'">
                <div class="col-sm-3">
                  <div style="display:inline;white-space: nowrap;">
                    <label [for]="input1.ControlName"> {{getProperLabelName(input1.LabelName)}} </label>
                    <i *ngIf="(input1.IncludeRefresh != null && input1.IncludeRefresh)" class="fa fa-refresh"
                      style="font-size:10px;float: right;cursor: pointer;margin-top: 8px;margin-right: 2px;"
                      [id]="getIdForRefresh(input1.ControlName)">
                    </i>
                    <i *ngIf="(input1.HelpText != null )" class="fa fa-info-circle"
                      style="margin-left: 5px;margin-right: 5px;text-align: left;" [tooltip]="input1.HelpText"></i>
                  </div>
                  <select [formControlName]="input1.ControlName" [name]="input1.ControlName" class="form-control"
                    [id]="input1.ControlName">
                  </select>

                </div>
              </ng-template>

              <!-- ******************************** SELECT Multiple*********************************** -->
              <ng-template [ngSwitchCase]="'selectMultiple'">
                <div class="col-sm-3">
                  <label [for]="input1.ControlName"> {{getProperLabelName(input1.LabelName)}}</label>
                  <select multiple [formControlName]="input1.ControlName" [name]="input1.ControlName"
                    class="form-control" [id]="input1.ControlName" [selectedIndex]="input1.CurrentValue" required>
                  </select>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="'typoselect'">
                <div class="col-sm-3">
                  <label [for]="input1.ControlName"> {{getProperLabelName(input1.LabelName)}} </label>
                  <input [type]="input1.ValueType" [id]="input1.ControlName" list="browsers" class="form-control"
                    autocomplete="off" required />
                  <ul [class]="getClassNameForULHelper(input1.ControlName,'_ULHelper')" style="display: none;">
                  </ul>
                </div>
              </ng-template>
              <!-- ******************************** DATE *********************************** -->
              <ng-template [ngSwitchCase]="'date'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>

                    <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                      [id]="input1.ControlName" [required]="input2.Required"
                      [value]="getDateValue(input1.ModelPropName,input1,input.ModelObjectName)" />
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                      <!-- <div *ngIf="form.get(input1.ControlName).errors.required">
                        * {{getProperLabelName(input1.LabelName)}} is required.
                      </div> -->
                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>


              <!-- ******************************** DATE TIME LOCAL *********************************** -->
              <ng-template [ngSwitchCase]="'datetime-local'">
                <div *ngFor="let input2 of input1.Validators">
                  <div class="col-sm-3">
                    <label> {{getProperLabelName(input1.LabelName)}}</label>

                    <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                      [id]="input1.ControlName" [required]="input2.Required"
                      [value]="getDateValue(input1.ModelPropName,input1,input.ModelObjectName)" />
                    <!------------------------------------------------Form Validation  ------------------------------->
                    <div class="error"
                      *ngIf="form.get(input1.ControlName).invalid && (form.get(input1.ControlName).dirty || form.get(input1.ControlName).touched)">
                     
                      <div *ngIf="form.get(input1.ControlName).errors.pattern">
                        {{input2.ValidationMsg}}
                      </div>
                      <div
                        *ngIf="form.get(input1.ControlName).errors.minlength || form.get(input1.ControlName).errors.maxlength">
                        * Minlength {{input2.Minlength}} and max length {{input2.Maxlength}}
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>


              <!-- ******************************** CHECKBOX *********************************** -->
              <ng-template [ngSwitchCase]="'checkbox'">
                <div class="col-sm-3">
                  <label> {{getProperLabelName(input1.LabelName)}}</label>
                  <input [formControlName]="input1.ControlName" [type]="input1.ValueType" class="form-control"
                    [id]="input1.ControlName" />
                </div>
              </ng-template>
            </ng-container>
          </div>

        </div>
      </ng-template>


    </div>
  </form>
</div>